<a href="https://colab.research.google.com/github/Musabbirstar/Skill-Morph/blob/main/Skill_Morph_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [1]:
name="Abdullah Al Musabbir"
age=24
favorite_color="Black"

print("Name: ",name)
print("Age: ", age)
print("Favourite Color: ", favorite_color)

Name:  Abdullah Al Musabbir
Age:  24
Favourite Color:  Black

# **2.2.Create one variable of each type and use the type() function to verify its type.**

In [2]:
number=13
Float=13.7
string="Dhaka"
is_boolean=True
value=None

print(type(number))
print(type(Float))
print(type(string))
print(type(is_boolean))
print(type(value))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# **2.3.Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [4]:
length=float(input("Please Eneter the value of length: "))
width=float(input("Please Eneter the value of width: "))
print("The Length of rectangle is: ",length)
print("The Width of rectangle is: ",width)

perimeter=2*length+2*width
area=length*width

print("The perimeter of Rectange is: ",perimeter)
print("The Area of Rectange is: ",area)

Please Eneter the value of length: 3
Please Eneter the value of width: 4
The Length of rectangle is:  3.0
The Width of rectangle is:  4.0
The perimeter of Rectange is:  14.0
The Area of Rectange is:  12.0

# **2.4.Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [5]:
foods=["rice","Mung lentils","fish","beef","mutton"]

print(foods[0])
print(foods[-1])

rice
mutton

# **2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [20]:
num=[13,7,33,49,17]

num.append(57)
print("List of after adding a number(57): ",num)

num.pop()
print("List of after remove a number(57): ",num)

num.sort()
print("List in ascending order: ",num)

num.reverse()
print("List in Descending order: ",num)

List of after adding a number(57):  [13, 7, 33, 49, 17, 57]
List of after remove a number(57):  [13, 7, 33, 49, 17]
List in ascending order:  [7, 13, 17, 33, 49]
List in Descending order:  [49, 33, 17, 13, 7]

# **2.6 Create a dictionary about yourself with at least 4 key-value pairs**

In [21]:
me={"name": "Abdullah Al Musabbir",
         "age": 24,
         "university": "University of Asia Pacific",
         "phone": "01944145084",}

me["name"]

'Abdullah Al Musabbir'

# **2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.**

In [22]:
bd=("latitude 20°34' to 26°38' North", "longitude 88°01' to 92°41' East")
print(type(bd))

<class 'tuple'>

# **2.8 Create two sets of colors and find their union and intersection**

In [25]:
gang1 = {"jake","paul","richard"}
gang2 = {"jake","julia","vanessa"}

union = gang1 | gang2
intersection  = gang1 & gang2
print(union)
print(intersection )

{'julia', 'vanessa', 'paul', 'richard', 'jake'}
{'jake'}

# **2.9 Write a program that checks if a number is positive, negative, or zero.**

In [29]:
num = int(input("Please Enter the number: "))

if num>0:
  number="Positive"
elif num<0:
  number="Negative"
elif num==0:
  number="Zero"
else:
  print("Oops! You press Wrong key")
print(f"The Number is {number}")

Please Enter the number: 5
The Number is Positive

# **2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).**

In [46]:
student = int(input("i. Student press 1\nii.Not student press 2\n"))
if student == 1:
    age = int(input("Please Enter your age: "))
    if age > 25 and age < 60:
        print("Congratulations! You are eligible for the discount.")
    else:
        print("Oops! You are not eligible for the discount.")
else:
    print("Oops! You are not eligible for the discount.")

i. Student press 1
ii.Not student press 2
1
Please Enter your age: 59
Congratulations! You are eligible for the discount.

# **2.11 Write a program that prints the first 10 even numbers using a for or while loop.**

In [52]:
count = 2
while count <= 20:
    print(count)
    count += 2

2
4
6
8
10
12
14
16
18
20

# **2.12 Write a program that prints a simple number pyramid pattern using nested loops.**

In [53]:
rows = 5
for i in range(1, rows + 1):
    for space in range(rows - i):
        print(" ", end="")
    for num in range(1, i + 1):
        print(num, end=" ")

    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

# **2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [56]:
c=float(input("Enter the value of Celcius: "))
f=(c*(9/5)+32)
print("Fahrenheit",f)

Please Enter the value of Celcius: 33
Fahrenheit 91.4

# **2.14 Create a function with default parameters that calculates the area of a rectangle.**

In [57]:
def rectangle_area(length=1, width=1):
    area = length * width
    return area

print(rectangle_area())
print(rectangle_area(5))
print(rectangle_area(5, 3))

1
5
15